{% extends "base.html" %}

{% block content %}
<!-- Change form method -->
<form action="" method="POST">
    {{form.csrf_token}}
    <div class="container">
        <label for="username"><b>{{form.username.label}}</b></label>
        {{form.username(placeholder="Enter Username")}}
        <br>

        <label for="passowrd"><b>{{form.password.label}}</b></label>
        {{form.password(placeholder="Enter Password")}}
        <br>

        <button type="submit" class="loginbtn">Login</button>
        <br>

        <label>
            {{form.remember}}Remember me
            <span><a href="#">Forgot password?</a></span>
        </label>
        <br>

        <button type="button" class="cancelbtn">Cancel</button>
    </div>
</form>
{% endblock %}