[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-wtf = "*"
passlib = "*"
flask-mail = "*"
tensorflow = "*"
numpy = "*"
nltk = "*"

[requires]
python_version = "3.7"
