html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_Box{
    width: 360px;
    background: white;
    height: 290px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login_Box h1{
    text-align: center;
    margin-bottom: 30px;
}

.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}