<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>PEGASUS</title>
    <link rel="shortcut icon" type="image/png" href="pegasus3.ico">
</head>

<body>
    <h1>PEGASUS</h1>
    <div class="welcomization">
        <div>
            <span>Welcome to pegasus SA de CV</span>
            <div>
                <div>
                    <span>Texto generico de binvenida</span>
                    <div>
                        <button>
                            <span>Sign in</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>{{username}}</p>
    <ul>
        {% for post in posts %}
        <div class="post">
            <p>{{post.author.username}} says: <b>{{post.body}}</b></p>
        </div>
        {% endfor %}
    </ul>
    <!--<img src="../static/pegasus-logo.png" alt="Pegasus Logo">-->
</body>

</html>