<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>PEGASUS</title>
</head>

<body>
    <h1>PEGASUS</h1>
    <p>{{username}}</p>
    <ul>
        {% for post in posts %}
        <div class="post">
            <p>{{post.author.username}} says: <b>{{post.body}}</b></p>
        </div>
        {% endfor %}
    </ul>
    <!--<img src="../static/pegasus-logo.png" alt="Pegasus Logo">-->
</body>

</html>