<!doctype html>
<html lang="en">

<head>
    <title>Log In</title>
    <link rel="stylesheet" href="../static/login.css"
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <nav>
        <h1>PEGASUS</h1>
    </nav>
    <form class="box" action="index.html" method="POST">
        <div class="container"> 
            <h1>LogIn</h1>
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="submit" name="" value="Login ">
            <input type="checkbox" checked="checked" name="remember"> Remember me
            <span class="password">Forgot <a href="#">password?</a></span>
    </form>

</body>

</html>