<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEGASUS</title>

    <nav>
        <!-- TODO: Add check for user authentication in template -->
        <h1>PEGASUS</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </nav>
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>