<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEGASUS</title>

    <nav>
        <!-- TODO: Add check for user authentication in template -->
        <h1>PEGASUS</h1>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <!-- TODO: Style notification/flash -->
    <!-- TODO: Add close button for notifications -->
    <div class="message {{message.type}}">{{message}}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</head>

<body>
    {% block content %}{% endblock %}
</body>
<!-- TODO: Position chat window and add animations. -->
{% block chat %}{% endblock %}

</html>