{% extends "base.html" %}

{% block content %}
<!-- Change form method -->
<form action="" method="POST">
    {{form.csrf_token}}
    <div class="container">
        {% if message %}
        <p class="auth-msg" name="login-auth-msg">{{message}}</p>
        {% endif %}
        {{form.username.label}}
        {{form.username(placeholder="Enter Username")}}
        {% if form.username.errors %}
        <ul>
            {% for error in form.username.errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        {{form.password.label}}
        {{form.password(placeholder="Enter Password")}}
        {% if form.password.errors %}
        <ul>
            {% for error in form.password.errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        <input type="submit" value="Login" class="loginbtn">
        <br>

        <!-- TODO: Add redirection for forgot password -->
        <label>
            {{form.remember}}Remember me
            <br><span><a href="#">Forgot password?</a></span>
        </label>
        <br>

        <!-- TODO: Add redirection for cancel login button -->
        <button type="button" class="cancelbtn">Cancel</button>
    </div>
</form>
{% endblock %}