{% extends "base.html" %}

{% block content %}
{% if form %}
<form action="" method="POST">
    {{form.csrf_token}}
    <div class="container">
        {{form.password.label}}
        {{form.password}}
        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endfor %}
        {% endif %}
        <br>
        {{form.repeat_password.label}}
        {{form.repeat_password}}
        {% if form.repeat_password.errors %}
        {% for error in form.repeat_password.errors %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endfor %}
        {% endif %}
        <br>
        <input type="submit" , value="Submit">
    </div>
</form>
{% endif %}
{% endblock%}